*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:  hsl(257, 40%, 49%);
    background-image: url(./images/bg-desktop.svg);
    color: white;
    
    
    
    
}
.attribution { 
    font-size: 11px; text-align: center; 
    display: none;
    
}
.attribution a { 
    color: hsl(228, 45%, 44%);
    display: none;
    
}

section.main{
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}
.logo{
    padding-top: 3%;
    padding-bottom: 10%;
    
}
.right-section{
    max-width: 100vh;
    padding-left: 35px;
    
}
.heading{
    padding-bottom: 5%;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    
    
}
.intro-paragraph{
    font-family:  'Open Sans', sans-serif;
    padding-bottom: 20px;
    padding-right: 10%;
    line-height: 1.5;
    
}
button.register{
    padding: 8px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    border-radius: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    box-shadow: 1px 5px 5px 5px hsl(257, 42%, 45%) ;
}

div.icons img{
    width: 8vh;
    padding-right: 15px;
    }

div.icons{
    display: flex;
    justify-content: flex-end;
    padding: 5%;

}